#header {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.hidden {
    display: none;
}

.displayed {
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 20px;
    background-color: azure;
    outline: solid;
    
}

textbox:focus {
    background-color: beige;
}